*.xlsx
*.pdf
*.PDF
*.txt
*.pptx
*.docx
*.doc
*.odt
*.class
*.log
*.class
*.png
*.jpg
*.mcworld

### C ###
*.out
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

.vscode/
.theia/
.~lock.*
.zip
.flv
.mp4
ICC/
GeometriaAnalitica/
LogMat/
Mat_Discreta
Portugues/

